@model Cassanello.Web.Datos.Entidades.Visitador

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomVisitador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomVisitador)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Laboratorio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Laboratorio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Regresar a lista</a>
</div>
